.loading {
    height: 60vh;
    text-align: center;
}

.load-container {
    position: relative;
    top: 35%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.lds-hourglass {
    opacity: 50%;
    display: inline-block;
}

.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 25vh;
    height: 25vh;
    box-sizing: border-box;
    border: 5vh solid #545454;
    border-color: #545454 transparent #545454 transparent;
    animation: lds-hourglass 0.5s infinite;
}

@keyframes lds-hourglass {
    0% {
        transform: rotate(360deg);
        animation-timing-function: cubic-bezier(0.355, 0.355, 0.355, 0.355);
    }
}

.loading-text {
    padding-top: 2vh;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 39px;
    color: #545454;
}

.noAll {
    height: 60vh;
    text-align: center;
}

.noSearchIcon {
    width: 20vw !important;
    height: 20vw !important;
    fill: darkred !important;
}

.noAllCenter {
    top: 28%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
    padding: 0 10vw;
}

.noTextTitle {
    color: #545454;
}

.noValidTitle {
    color: #CD7B7B;
}

.noTitle {
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 39px;
}

.noParagraph {
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #545454;
    padding-top: 8px;
}

@media only screen and (max-width: 600px) {
    .noTitle {
        font-size: 24px;
    }
    .noParagraph {
        font-size: 18px;
    }
}

.forecastCardGraph {
    margin-top: 3vh;
    text-align: center;
    display: flex;
    padding: 0 10vw;
}

.forecastGraph {
    color: black !important;
    width: 66%;
    padding: 0 2vw;
}

.forecastApexDiv {
    height: 49vh;
}

.forrestCard {
    width: 33%;
    text-align: center;
    position: relative;
}

.forrestCard_inside {
    background: #FFFFFF;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    max-width: 18.3vw;
    width: 100%;
    height: 80%;
    position: absolute;
    top: 47%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

rect {
    cursor: pointer !important;
}

.apexcharts-title-text {
    font-weight: 500;
}

.apexcharts-yaxis-title-text {
    font-weight: 500;
}

.fTemp {
    margin-top: 6.1vh;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 2.92vw;
    color: #77B6EA;
}

.fCityName {
    margin-top: 4.5vh;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 2.05vw;
    color: #545454;
}

.fDate {
    margin-top: 1.2vh;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 1.025vw;
    color: #545454;
}

.fDesc {
    margin-top: 4.5vh;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 1.025vw;
    color: #545454;
    position: relative;
    display: inline-flex;
}

.descIcon {
    height: 4.1vh;
}

.descTitle {
    position: static;
    align-self: center;
    padding-left: 0.6vw;
}

@media only screen and (max-width: 950px) {
    .apexcharts-title-text {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .forecastCardGraph {
        flex-direction: column-reverse;
        padding: 0 7vw;
        margin-top: -3vh;
    }
    .forecastGraph {
        width: 100%;
        padding: 0 2vw;
    }
    .forrestCard {
        width: 100%;
        padding-bottom: 2vh !important;
        margin-bottom: 2vh;
    }
    .forrestCard_inside {
        all: revert;
        background: #FFFFFF;
        box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        padding: 1.2vh 0;
    }
    .fTemp {
        margin-top: 0;
        font-size: 3vh;
    }
    .fCityName {
        margin-top: 1vh;
        font-size: 2vh;
    }
    .fDate {
        margin-top: 0.3vh;
        font-size: 1.2vh;
    }
    .fDesc {
        margin-top: 1vh;
        font-size: 1.2vh;
        display: block;
    }
}